h1{
    background-color: aqua;
}

input:out-of-range {
  background-color: rgba(255, 0, 0, 0,25);
  border: 2px solid red;
  }
input:in-range {
  background-color: rgba(0, 255, 0, 0,25);
}

  table, tr, td{
    border: solid 1px black;
}
.button{
  width: 25px;
}