input:valid {
  color: green;
}
input:invalid {
  color: red;
}
.button{
  width: 25px;
}
table, tr, td{
    border: solid 1px black;
}

h1:hover{
 background-color: burlywood; 
}
/*orden:
  input:valid / input:invalid (0,1,1)
  .button (0,1,0)
  tale, tr, td (0,0,1)
  h1 (0,0,1)

*/

p{
  column-count: 3;
  column-rule-color: red;
  column-rule-width: 5px;
}
html{
  background-color: rgb(246, 168, 168);
}
